.collection:disabled {
  background-color: #002659;
  font-weight: 300;
  color: white;
}
.mat-badge.hide-text .mat-badge-content {
  color: transparent;
}
.dbsource-header {
  background-color: #002659; 
  color: white
}

button {
  cursor: pointer;
}

button.mat-primary{
  background-color: #002659;
}